<p style="text-align:center; margin-bottom: 0px; font-size: 20px; font-weight: 200;">Check out some popular recipes below!</p>
<div class="home-grid"> 
    <% for (let i=0;i<homeArray.length; i++){ %>
        <div class="home-grid-item">
            <a href="/recipes/<%= homeArray[i].id %>"><img class="home-img" src = "<%=homeArray[i].image%>"></a>
            <a class="home-grid-text" href="/recipes/<%= homeArray[i].id %>"><%=homeArray[i].title%></a>
            <form method="POST" class="addTo-btn" action="/recipes/my-recipes">
                <input hidden type="text" name="name" value="<%=homeArray[i].title%>">
                <input hidden type="text" name="img_url" value="<%=homeArray[i].image%>">
                <input hidden type="text" name="recipe_id" value="<%=homeArray[i].id%>">
                <button class="btn btn-primary" id="addTo-btn" type="submit">+</button>
            </form>
              <a href="/recipes/<%= homeArray[i].id %>" class="btn btn-primary" id="more-btn" type="submit">CHECK IT OUT!</a>
            </div>
    <% } %>
</div>

<hr style="width: 80%; margin-top: 50px;">
<div class="about"> 
    <a id="about-section"><h1>ABOUT COOKBOOK CURATOR</h1></a>
    <p>The Cookbook Curator allows users to find hundreds of thousands of recipes and add them to your own personalized cookbook! Learn what ingredients you need and how to make each recipe from scratch! Get started by searching for recipes with your favorite ingredients, adding them to your cookbook, and get to cookin'! <br><strong>With the Cookbook Curator, you can also create your own personal recipes to store these in your personal cookbook! Go get 'em chef!</strong> </p>
</div> 
    