<p style="text-align:center; margin-bottom: 0px; font-size: 20px; font-weight: 200;">Check out some popular breakfast recipes below!</p>
<div class="home-grid"> 
    <% homeArray.forEach(recipe=>{ %>
        <div class="home-grid-item">
            <a href="/recipes/<%= recipe.id %>"><img class="home-img" src = "<%=recipe.image%>"></a>
            <a class="home-grid-text" href="/recipes/<%= recipe.id %>"><%=recipe.title%></a>
            <form method="POST" class="addTo-btn" action="/recipes/my-recipes">
                <input hidden type="text" name="name" value="<%=recipe.title%>">
                <input hidden type="text" name="img_url" value="<%=recipe.image%>">
                <input hidden type="text" name="recipe_id" value="<%=recipe.id%>">
                <button class="btn btn-primary" id="addTo-btn" type="submit">+</button>
            </form>
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary" id="more-btn" type="submit">CHECK IT OUT!</a>
        </div>
    <% }) %>
</div>