<h1 class='recipe-title'> <%=recipeData.title%> </h1>
<form method="POST" action="/recipes/my-recipes" id="view-addTo-btn">
    <input hidden type="text" name="name" value="<%=recipeData.title%>">
    <input hidden type="text" name="img_url" value="<%=recipeData.image%>">
    <input hidden type="text" name="recipe_id" value="<%=recipeData.id%>">
    <span>ADD TO MY COOKBOOK<button class="btn btn-primary" id="view-add-btn" type="submit">+</button></span>
  </form>
<br><br><br>
<div class="recipe-container">
  <img class='recipe-img' src=<%=`${recipeData.image}`%>> 
  <br>
  <ul id="ingredients">
    <h3>Ingredients:</h3>
    <% recipeData.extendedIngredients.forEach(ingredient=>{ %>
        <li><%=ingredient.original%></li>
    <% }) %>
  </ul>
  <ol id="instructions">
    <h3>Instructions:</h3>
      <% recipeData.analyzedInstructions[0].steps.forEach(step=>{ %>
        <li><%=step.step%></li>
      <% }) %>
  </ol>
</div>  

<hr style="width: 80%; margin-top: 50px;">
<div class="comments">
    <h3> WRITE A REVIEW </h3>
    
    <form action="/recipes/:id/comments" class="comment-form" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" id="com-name" name="name" placeholder="Your Name" required>
      </div>
      
      <div class="form-group">
        <input type="text" class="form-control" id="com-content" name="content" placeholder="Write a Review" required>
      </div>
      
        <input hidden type="number" name="recipeId" value="<%=recipeId%>">
        <input hidden type="text" name="recipeName" value="<%=recipeData.title%>">
        <input hidden type="text" name="img_url" value="<%=recipeData.image%>">

      <input type="submit" id="submit" class="btn btn-primary" value="SUBMIT">
    </form>
      
</div>

<% recipeComments.forEach((comment)=> { %>
  <div class="comment-content" style="margin-bottom: 100px;">
    <img class="com-icon" src="https://daltonhearing.com/wp-content/uploads/person-icon.png">
    <p style="font-size: 12px; margin: 0px;"><%= comment.name %></p>
    <h4 style="font-size: 15px; margin: 5px 0px 5px 0px;"><%= comment.content %> </h3>
    <form method="POST" action='/recipes/<%= recipeId %>/?_method=DELETE'>
      <input hidden type="text" name="name" value="<%=comment.name%>">
      <input hidden type="text" name="content" value="<%=comment.content%>">
      <input hidden type="text" name="recipeId" value="<%=recipeId%>">
      <input type='submit' id="delete" value="Delete Comment">
      <input type='submit' id="edit-btn" value="Edit Comment">
    </form>
  <form method='POST' id="edit-form" action='/recipes/<%= recipeId %>/?_method=PUT'>
      <input type='text' name='name' id='edit-name' value='<%= comment.name %>'>
  
      <input type='text' name='content' id='edit-content' placeholder="Type your updated comment">
      <input hidden type="number" name="commentId" value="<%=comment.id%>">
      <input hidden type="text" name="recipeId" value="<%=recipeId%>">
      <input id="submit-edit" type='submit'>
  </form>
  </div>  
<% }); %>

<a href="<%=recipeData.sourceUrl%>"><%=recipeData.sourceUrl%></a>
